<mat-form-field class="fullRow" appearance="fill">
  <mat-label>{{ label | titlecase }}</mat-label>
  <input
          #input
          type="text"
          [placeholder]="placeholder"
          ariaLabel="autocomplete"
          matInput
          [formControl]="control"
          [matAutocomplete]="auto">
  <mat-error *ngIf="control?.errors" role="error">{{ control.errors | errorMessage }}</mat-error>

  <button
    *ngIf="clearable"
    [disabled]="!selected"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="clearOption($event, input)"
    role="clearable">
    <mat-icon>close</mat-icon>
  </button>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectOption()">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value" role="options">
      {{ option.label | titlecase }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
