<div class="mat-elevation-z8">
  <mat-toolbar >
    <span>{{ title }}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="addRow()" role="add-button">
      <mat-icon>add_circle</mat-icon>
    </button>
    <button mat-icon-button *ngIf="selected" (click)="editRow()" role="edit-button">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button *ngIf="selected" (click)="removeRow()" role="delete-button">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource">

    <ng-container [matColumnDef]="column.value" *ngFor="let column of columns">
      <th mat-header-cell *matHeaderCellDef>{{ column.name }}</th>
      <td
        mat-cell
        *matCellDef="let element"
        appFormatTableValue
        [value]="element[column.value]"
        [type]="column.type"
        [labelName]="column.labelName"
      >{{ element[column.value] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
      (click)="selectRow(row)"
      [class.demo-row-is-clicked]="selected === row"
    ></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
