<div class="mat-elevation-z5" style="padding: 10px;">
  <h1 class="title" role="title">{{ title | titlecase }}</h1>
  <span class="subtitle" *ngIf="formId" role="formId">Id# {{ formId }}</span>

  <mat-grid-list cols="4" rowHeight="100px" gutterSize="15px" >
    <form [formGroup]="formGroup" class="clientForm" *ngIf="fields.length else loading">

      <mat-grid-tile [colspan]="item.colspan" *ngFor="let item of fields">
        <ng-container
          *ngIf="item.type === 'input'"
          [ngTemplateOutlet]="input"
          [ngTemplateOutletContext]="{ $implicit: item }">
        </ng-container>
        <ng-container
          *ngIf="item.type === 'autocomplete'"
          [ngTemplateOutlet]="autocomplete"
          [ngTemplateOutletContext]="{ $implicit: item }">
        </ng-container>
        <ng-container
          *ngIf="item.type === 'multiselect'"
          [ngTemplateOutlet]="multiselect"
          [ngTemplateOutletContext]="{ $implicit: item }">
        </ng-container>
        <ng-container
          *ngIf="item.type === 'date'"
          [ngTemplateOutlet]="datepick"
          [ngTemplateOutletContext]="{ $implicit: item }">
        </ng-container>
        <ng-container
          *ngIf="item.type === 'YesNo'"
          [ngTemplateOutlet]="checkbox"
          [ngTemplateOutletContext]="{ $implicit: item }">
        </ng-container>
        <ng-container
          *ngIf="item.type === 'currency'"
          [ngTemplateOutlet]="currency"
          [ngTemplateOutletContext]="{ $implicit: item }">
        </ng-container>
        <ng-container
          *ngIf="item.type === 'number'"
          [ngTemplateOutlet]="number"
          [ngTemplateOutletContext]="{ $implicit: item }">
        </ng-container>
      </mat-grid-tile>

      <ng-template #input let-item>
        <app-input-form
          [inputKey]="item.name"
          [group]="formGroup"
          [label]="item.label"
          [placeholder]="item.placeholder"
          [clearable]="item.clearable"
          [suffix]="item.suffix"
          [prefix]="item.prefix"
          class="fullRow"
        ></app-input-form>
      </ng-template>

      <ng-template #autocomplete let-item>
        <app-autocomplete-form
          [inputKey]="item.name"
          [group]="formGroup"
          [label]="item.label"
          [placeholder]="item.placeholder"
          [clearable]="item.clearable"
          [suffix]="item.suffix"
          [prefix]="item.prefix"
          [options]="item.options"
          class="fullRow"
          ></app-autocomplete-form>
      </ng-template>

      <ng-template #multiselect let-item>
        <app-multi-select-form
          [inputKey]="item.name"
          [group]="formGroup"
          [label]="item.label"
          [placeholder]="item.placeholder"
          [clearable]="item.clearable"
          [suffix]="item.suffix"
          [prefix]="item.prefix"
          [options]="item.options"
          class="fullRow"
          ></app-multi-select-form>
      </ng-template>

      <ng-template #datepick let-item>
        <app-datepick-form
          [inputKey]="item.name"
          [group]="formGroup"
          [label]="item.label"
          [placeholder]="item.placeholder"
          [clearable]="item.clearable"
          class="fullRow"
          ></app-datepick-form>
      </ng-template>

      <ng-template #checkbox let-item>
        <app-checkbox-form
          [inputKey]="item.name"
          [group]="formGroup"
          [label]="item.label"
          class="fullRow">
        </app-checkbox-form>
      </ng-template>

      <ng-template #currency let-item>
        <app-currency-form
          [inputKey]="item.name"
          [group]="formGroup"
          [label]="item.label"
          [clearable]="item.clearable"
          [suffix]="item.suffix"
          [prefix]="item.prefix"
          [placeholder]="item.placeholder"
          class="fullRow"
          ></app-currency-form>
      </ng-template>

      <ng-template #number let-item>
        <app-number-form
          [inputKey]="item.name"
          [group]="formGroup"
          [label]="item.label"
          [clearable]="item.clearable"
          [suffix]="item.suffix"
          [prefix]="item.prefix"
          [placeholder]="item.placeholder"
          class="fullRow"
          ></app-number-form>
      </ng-template>
    </form>

    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>

  </mat-grid-list>
  <hr>

  <div class="flex justify-center space-x-4">
   <button mat-raised-button color="primary" role="save" (click)="callSave()" [disabled]="isInvalid">SAVE</button>
   <button mat-button role="cancel" (click)="callCancel()">CANCEL</button>
   <ng-content select="app-actions-form"></ng-content>
  </div>
</div>
